html body.admin-bar {
  margin-top:-30px;
}

.circle-img {
  .img-width-wrap {
    position: relative;
    z-index: 3;
  }

  .info-white-section-img {
    z-index: 3;
  }
}

.img-wrapper {
  display: inline-block;
  position: relative;
  overflow: hidden;

  img {
    object-fit: contain;
    object-position: 50% 0%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  video {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
  }
}

.swiper-prev,
.swiper-next {
  cursor: pointer;

  &.swiper-button-disabled {
    opacity: 0.3 !important;
    cursor: not-allowed;
  }
}

.op-0 {
  opacity: 0;
}

// global reusables
html {
  scrollbar-color: $green-1 rgba(222, 222, 222, 0.75);
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: $green-1;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(222, 222, 222, 0.75);
  border-radius: 5px;
  box-shadow: inset -30px 10px 12px #f0f0f0;
}

[data-scroll-container-inner] {
  .scrollbar-track {
    background: rgba(222, 222, 222, 0.75);
    border-radius: 5px;
    box-shadow: inset -30px 10px 12px #f0f0f0;
  }

  .scrollbar-thumb {
    background: $green-1;
  }
}

.hbspt-form .hs-input:not(input[type='checkbox'])::placeholder {
  font-size: 14px !important;
  opacity: 1;
  @media screen and ($max480) {
    font-size: 12px !important;
  }
}

.init-loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  background: linear-gradient(0deg, rgba(155, 155, 155, 0.75) 33%, $red-1 100%);
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.init-loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #263238;
}
@keyframes rotation {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg)}
} 

.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index:9999;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  max-height: 100vh;
  background: #002ea6;
  overflow-y: auto;
  overflow-x: hidden;
  transform: translateY(-110%);
  transition:all 0.3s ease;

  .popup-wrap {
    position: relative;
    width: 70%;
    margin: 0 auto;
    padding: 40px 0;

    @media screen and ($max1024){
      width:80%;
      padding:80px 0;
    }

    @media screen and ($min1024){
      width: 35%;
      padding: 110px 0;
    }
  }

  h3 {
    color:$white;
  }
  p {
    color:$green-1;
  }

  .hbspt-form {
    margin-top:30px;
    padding:0;
    background:transparent;
    border-radius:0;
  }
}
html.open-popup {
  overflow: hidden;

  .popup {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    visibility: visible;
  }
}