@use 'components/mobile-tables';
@use 'components/tables';
@use 'components/media-block';
@use 'components/blaze-slider';
@use 'components/start-raiting';
@use 'components/talk-to-us';
// @use 'lightslider';
