@use 'block-base';

.block--g {
  &.table-full-width {
    .col-sm-12.col-lg-6 {
      width:100%;
    }
  }

  .table-block {
    padding: 0 !important;
  }

  .table-comparison {
    margin-top: 15px;
  }

  @media screen and ($max1024) {
    .col-lg-6 {
      width: 100%;
    }
  }
}
