@import 'block-base';
.block--a {
  .sk-sticky {
    top: 100px;
  }
  @media screen and ($max1024) {
    .left-content {
      width: 100% !important;
    }
    .hide-m-form {
      .right-content-form {
        display: none !important;
      }
    }
  }
  .left-content {
    .person-quote-block {
      @media screen and ($max1024){
        width:80%;
      }

      picture {
        display:block !important;
        flex-shrink:0;
      }
      
      .person-img-wrap {
        flex: 0 0 auto;
        width: 88px;
        height: 88px;

        /*
        img {
          width: 110px;
          height: auto;
        }
        */
      }

      blockquote {
        padding-left:24px;

        &::before {
          content: '';
          background-image: url($ROOT_PATH + 'media/images/pictograms/quote-icon-red.webp');
          background-repeat: no-repeat;
          background-size: contain;
          background-position: 50%;
          flex: 0 0 auto;
          display: inline-block;
          width: 24px;
          height: 24px;
          position: absolute;
          top: 0;
          left:-10px;
          transition:all 0.3s ease;
        }
      }
    }
  }

  .right-form {
    .landing-page-form {
      padding:40px 30px;
      border-radius: 28px;
    }
  }

  .bg-img {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    picture {
      display:flex;
      align-items:center;
      justify-content:center;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      
      img {
        object-fit:cover;
        height:100%;
        width:100%;
        max-width:none;
      }
    }
  }
  
  &.overlay-blue::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    background: #002EA6B2;
    opacity: 0.7;
  }
  &.version-B .phone-icon a[href^="tel:"] {
    color:#17fcc4 !important;
  }
  &.version-B .right-form .landing-page-form {
    background-color: rgb(0 46 166 / 80%) !important;
  }
  .quote-version-B {
    padding: 3.5vw;
    background: rgb(255 255 255 / 60%);
    border-radius: 32px;
  }
  .quote-version-B .person-info {
    gap:15px;
  }

  .person-quote-block.mobile-option {
    display:none !important;
  }

  &.quote-mobile-option {
    @media screen and ($max1024){
      .person-quote-block:not(.mobile-option){
        display:none !important;
      }
      .person-quote-block.mobile-option {
        display:flex !important;
      }
    }
  }
}
