.form-contact-section-home,.form-contact-section-home .circle-full .inner-circle-outer{background-color:#3358b8}.form-contact-section-home .inner-circles-wrap{border-radius:50%;pointer-events:none;position:absolute}.form-contact-section-home .inner-circle-base{border-radius:50%;height:100%;left:0;position:absolute;top:0;width:100%;z-index:1}.form-contact-section-home .inner-circle-outer{height:65.3%;width:65.3%;z-index:2}.form-contact-section-home .inner-circle-core,.form-contact-section-home .inner-circle-outer{-webkit-backface-visibility:hidden;backface-visibility:hidden;border-radius:50%;left:50%;position:absolute;top:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}.form-contact-section-home .inner-circle-core{height:25%;width:25%;z-index:3}.form-contact-section-home .circle-full .inner-circle-base,.form-contact-section-home .circle-full .inner-circle-core{background-color:#45fdd0}

@media screen and (min-width:1921px){
    .form-contact-section-home .inner-circles-wrap{bottom:-467px;height:948px;left:-476px;width:948px}
}
@media screen and (min-width:1025px){
    .form-contact-section-home .inner-circles-wrap{bottom:-24.323vw;height:49.375vw;left:-24.792vw;width:49.375vw}
}
@media screen and (max-width:1024px){
    .form-contact-section-home .inner-circles-wrap{right:0;top:0;-webkit-transform:translate(50%,-50%);transform:translate(50%,-50%)}
    .form-contact-section-home .inner-circles-wrap{height:400px;width:400px}
}
@media screen and (max-width:500px){
    .form-contact-section-home .inner-circles-wrap{height:50vw;width:50vw}
}