@use 'block-base';

.products-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 48px;
  grid-row-gap: 48px;
}
.products-wrap.single {
  grid-template-columns: auto;
}
.products-wrap.mobile,
.products-wrap.mobile.single .lSPager.lSpg {
  display: none;
}
.products-grid .company-logo {
  margin-bottom: 30px;
}
.products-grid .company-logo img {
  height:100px;
  width:auto;
}
.product {
  .img-wrap {
    display: flex;
    margin-bottom: 30px;

    &:not(.plain):not(.cover):not(.round){
      align-items: center;
      justify-content: center;
      height:auto;
      min-height:400px;
      background: #f2f4fa;
    }

    &.cover {
      justify-content: center;
      height:auto;
      min-height:400px;
      overflow:hidden;

      img {
        object-fit:cover;
        height:100%;
        max-width:none;
      }
    }

    &.round {
      justify-content: center;
      height: 18vw;
      width: 18vw;
      margin: 0 auto;
      margin-bottom: 30px;
      overflow: hidden;
      border-radius: 50%;

      @media screen and ($max1024){
        height:25vw;
        width:25vw;
      }

      @media screen and ($mobile_all){
        height:45vw;
        width:45vw;
      }

      img {
        object-fit:cover;
        height:100%;
        max-width:none;
      }
    }

    &.plain {
      align-items:flex-end;
      height:60px;
      img {
        height:60px;
        width:auto;
        max-width:200px;
      }
    }
  }
}
.products-wrap.single .product {
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 48px;
}

.products-wrap.single .img-wrap {
  margin-bottom: 0;
}
.product ul {
  list-style: none;
  padding-left: 0;
}
.product ul li {
  position: relative;
  padding-left: 30px;
}
.product ul li::before {
  content: '' !important;
  position: absolute;
  left: 0;
  top: 6px;
  background: url('/wp-content/uploads/2024/05/Check.png') no-repeat left center;
  height: 17px;
  width: 17px;
}
.product .btn-default {
  align-self: end;
}
.products-carousel .lSSlideOuter .lSPager li::before {
  content: none;
}
.products-carousel .lSSlideOuter .lSPager > li a {
  height: 16px;
  width: 16px;
  background: #939598;
}
.products-carousel .lSSlideOuter .lSPager > li.active a {
  background: #002ea6;
}
.products-carousel .lSSlideOuter .lSPager.lSpg {
  margin-top: 29px !important;
}
@media screen and (min-width: 501px) and (max-width: 1024px) {
  .products-wrap.single .product {
    grid-template-columns: auto;
    grid-column-gap: 0;
  }
  .products-wrap.single .img-wrap {
    margin-bottom: 44px;
  }
}
@media screen and (max-width: 500px) {
  .products-wrap.large {
    display: none;
  }
  .products-wrap.mobile {
    display: block;
  }
  .products-wrap.mobile .slider-navigation {
    display:none;
  }
  .products-wrap.single .img-wrap {
    margin-bottom: 44px;
  }
  .products-grid .company-logo img {
    width: 272px;
  }
  .product {
    display: block;
  }
  .product .img-wrap {
    height: auto;
  }
}

.products.img-cover .product .img-wrap picture {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.products.img-cover .product .img-wrap picture img {
  height: 100%;
  width: 100%;
  max-width: none;
  object-fit: cover;
}

.products.imgs-no-bg .product {
  display:block;
}

.products.imgs-no-bg .product .img-wrap {
  justify-content:flex-start;
  background:transparent;
}

.products-grid {
  &.product-logos {
    .products-wrap.mobile {
      .img-wrap {
        min-height:unset;
        background:transparent;
      }
    }
  }
}