@use 'block-base';
.sk-the-symbol {
  .symbol-wrapper {
    text-align: center;
  }
  
  .symbol-section-svg {
    width:100%;
  }

  .st0 {
    fill: none;
  }

  .st1 {
    fill: $blue-7;
  }

  .st2 {
    fill: $green-2;
  }

  .st3 {
    fill: $blue-2;
  }

  .st4 {
    fill: $red-1;
  }
}
