.case-studies-template-default {
  .op-0 {
    opacity: 1;

    .bg-image {
      opacity: 1;
    }
  }
}
html[lang=es-US] .inner-pages-contact-section.blog-social-media .contact-block,
html[lang=es-US] .blog-social-media {
  display:none;
}