/*
.popup-form {
  color: $white;
  font-size: $ft-18;
  padding-top: 100px;
 

  .hbspt-form {
    padding: 0 !important;
    padding-bottom: 35px !important;
    .hs-input {
      background: transparent !important;
    }
    .hs-form-field label {
      z-index: 1;
    }
  }
 

  p:empty {
    display: none;
  }
}

.single-post .popup-form .mobile-contact-form {
  padding-top: 20px;
  @media screen and ($min1024) {
    width: 35%;
  }
}

*/
