html.header-toggled-state .single-post header .nav-extras {
  display:none;
}

// Single article
.post-single-category {
  border: 1px solid $blue-1;
  color: $blue-1;
  font-size: 12px;
  font-weight: 500;
  border-radius: 20px;
  padding: 5px 9px;
  text-transform: none;
  display: inline-block;
  background-color: transparent;
  transition: background-color 0.3s ease;

  &:hover,
  &:focus {
    background-color: $green-1;
    transition: background-color 0.3s ease;
  }
}

.single-article-section {
  margin-left: 0;
  margin-right: 0;
}

.sk-blog-content {
  padding-bottom:$sk-block-padding;

  @media screen and ($max500){
    padding-bottom:$sk-block-padding-mobile;
  }

  .sk-block {
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom:30px;
    
    .container {
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  .blog-content {
    .sk-block:last-child {
      margin-bottom:0;
    }

    & > div {
      & > picture {
        img {
          margin-bottom:30px;
        }
      }
    }

    .wp-block-embed-youtube,
    .wp-block-embed-vimeo {
      margin-bottom:30px;

      .wp-block-embed__wrapper {
        height:0;
        padding-bottom:56.25%;

        iframe {
          position:absolute;
          top:0;
          left:0;
          height:100%;
          width:100%;
          min-height: unset;
        }
      }
    }
  }

  .full-width-bg {
    background-color: $fw-bg;
    padding-left: 30px;
    padding-right: 30px;
  }

  .svg-img {
    padding-bottom: 15px;
    padding-top: 15px;
  }

  .article {
    &-body {
      @media screen and ($min1024) {
        .sk-sticky {
          top:215px !important;
          max-height:70vh;
          overflow:hidden;
          /*
          max-height: 40vh;
          overflow: hidden;
          overflow-y: scroll;
          scrollbar-color: $green-1 transparent;
          scrollbar-width: none;
          scroll-behavior: smooth;
          scrollbar-gutter: stable;
          */
          z-index: 1;

          /*
          ::-webkit-scrollbar {
            width: 5px;
            height: 5px;
          }

          ::-webkit-scrollbar-thumb {
            background: $green-1;
            border-radius: 5px;
          }

          ::-webkit-scrollbar-track {
            background: rgba(222, 222, 222, 0.15);
            border-radius: 5px;
            box-shadow: inset -30px 10px 12px #f0f0f0;
          }
          */
        }
      }

      .article-content {
        // Article meta
        .article-meta {
          p:not(:last-child) {
            padding-right:20px;

            &::after {
              content:'|';
              position:absolute;
              top:0;
              right:8px;
            }
          }
          /*
          border-bottom: 1px solid $gray-1;
          margin-top: 20px;
          padding-bottom: 30px;

          @media screen and ($max1024){
            gap:15px;
          }

          @media screen and ($max768){
            flex-direction:column;
          }

          .meta-separator {
            @media screen and ($min1024){
              margin: 0 10px;
            }

            @media screen and ($mobile) {
              display: none;
            }
          }
          */
        }

        .article-featured-img {
          width: 100%;
        }

        /*
        .photo-credit {
          font-style: italic;
          text-align: right;
          margin-top: 15px;
        }
        */

        // Article main contant
        .article-main-content {
          //margin-top:48px;

          .stats-mobile {
            display:none;

            .img--wrap {
              display:flex;
              align-items:center;
              justify-content:center;
              height:80px;

              @media screen and ($max500){
                height:65px;
              }
            }
            .img--wrap img {
              max-height: 80px;

              @media screen and ($max500){
                max-height:65px;
              }
            }
          }

          @media screen and (max-width:1023px){
            .stats-mobile {
              display:block;
            }
          }

          .table-of-contents {
            @media screen and ($mobile) {
              .content-bullets {
                padding-left: 0.8rem;
              }
            }
          }

          .icon-columns.icon-sidebar {
            display: flex;
            flex-direction: row !important;
            justify-content: space-between !important;

            &::before,
            &::after {
              content: '';
              position: absolute;
              top: 0;
              bottom: 0;
              width: 2px;
              background: #939598;
            }
            &::before {
              left: 33%;
            }
            &::after {
              right: 33%;
            }
          }

          thead tr th, tbody tr td {
            padding-right: 15px;
          }
        }
      }

      .wp-block-image.size-full {
        img {
          width: 100%;
        }
      }

      // Article aside
      .article-aside {
        ul.posts-categories {
          li {
            line-height:22px;
          }
        }
        .sk-sticky {
          z-index: 1;
        }
        @media screen and ($min1024) {
          //max-width:16.666%;
          //flex-shrink:0;
          //padding-left: 25px;
          border-left: 1px solid $gray-1;
        }

        @media screen and (max-width:1023px) {
          padding-top: 25px;
          width: 100%;
        }

        @media screen and (min-width:1024px){
          .sk-sticky {
            top:200px !important;
          }
        }

        @media screen and ($min1024) {
          .sk-sticky {
            .posts-categories {
              max-height: 78vh;
              overflow: hidden;
              overflow-y: auto;
              padding-right: 10px;
              padding-bottom: 20px;
              scrollbar-color: $green-1 transparent;
              scrollbar-width: none;
              scroll-behavior: smooth;
              scrollbar-gutter: stable;
              z-index: 1;

              ::-webkit-scrollbar {
                width: 5px;
                height: 5px;
              }

              ::-webkit-scrollbar-thumb {
                background: $green-1;
                border-radius: 5px;
              }

              ::-webkit-scrollbar-track {
                background: rgba(222, 222, 222, 0);
                border-radius: 5px;
                box-shadow: inset -30px 10px 12px #f0f0f0;
              }
            }
          }
        }

        a {
          //display: block;
          font-size:16px;
          //color: $blue-1;
          transition: color 0.3s ease;
          //margin-bottom: 20px;
          /*
          &:hover,
          &:focus {
            color: $red-1;
            transition: color 0.3s ease;
          }
          */
        }
      }
    }

    // Article author
    &-author {
      background-color: $gray-21;
      margin-right: 0;
      margin-left: 0;
      margin-bottom:48px;

      @media screen and ($mobile_all) {
        padding: 30px;
        margin-bottom: 32px;
      }

      @media screen and ($min1024) {
        padding: 60px 85px;
      }

      .author-image {
        @media screen and ($mobile_all) {
          margin-bottom: 25px;
        }

        img {
          border-radius: 50%;
          width: 200px;
        }
      }

      /*
      .author-info {
        .author-name {
          margin-bottom: 20px;
        }
      }
      */
    }
  }
}

.sk-case-study,
.sk-blog-content {
  .article-body {
    .table-of-contents {
      .anchor-link {
        transition: all 100ms ease-in;

        &.active {
          font-weight: 700 !important;
        }
      }
    }

    .is-layout-flex {
      @media screen and ($max1024) {
        display: block !important;
      }

      .wp-block-column {
        display: flex;
        flex-direction: column;
        @media screen and ($min1024) {
          &:first-of-type {
            padding-right: 15px;
          }
          &:last-of-type {
            padding-left: 15px;
          }
        }

        @media screen and ($max1024) {
          &:first-of-type {
            padding-bottom: 15px;
          }
          &:last-of-type {
            padding-top: 15px;
          }
        }
      }
    }
  }
  .article-aside {
    .sk-sticky {
      z-index: 1;
      @media screen and ($min1600) {
        //top: 176px !important;
      }
    }

    .icon-columns {
      .icons--item {
        .list-image {
          position: relative;
          margin-bottom: 10px;

          &::after {
            content: '';
            display: block;

            position: absolute;

            background-position: center center;
            background-size: 2px 70%;
            background-repeat: no-repeat;
            background-image: url($ROOT_PATH + 'media/svgs/separator.svg');

            background-color: #939598;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1.2px;
          }
        }
        &:last-of-type {
          .list-image {
            margin-bottom: 0px;
            &::after {
              display: none;
            }
          }
        }
      }
    }
  }
  .sk-slider {
    .icons--item,
    .img--wrap,
    .img--wrap img {
      width: 100%;
      height: 175px;
    }

    .img--wrap {
      img {
        object-fit: contain;
      }
    }
  }
}

#main-content {
  .article-body {
    .table-of-contents {
      ol {
        li {
          font-size:16px;
          line-height:28px;
          margin-bottom:15px;
        }
      }
    }
  }
}

.newsletter-inner-holder {
  .subscribe-newsletter-form .hbspt-form form {
    @media screen and (max-width: 1025px) {
      align-items: flex-start;

      .hs_submit.hs-submit {
        margin-top: 20px;
      }
    }
  }
}

.sk-case-study {
  .article-aside {
    @media screen and (max-width:1023px){
      display:none;
    }
  }
  .article-body {
    margin-bottom:0;
  }
  .article-body .article-aside {
    @media screen and (min-width:1024px){
      border-left: 1px solid #ddd;
    }
  }
  .article-time {
    @media screen and ($max768){
      flex-direction:column;
    }
  }
}

#sticky-bar {
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index:9;
  padding:15px 30px;
  background:#fff;
  border-bottom:solid 1px #002ea6;
  box-shadow: 0px 4px 16px 0px rgb(0 0 0 / 30%);
  visibility:hidden;
  opacity:0;
  pointer-events:none;
  transition:all 0.45s ease;

  .sticky-extras {
    right:30px;
  }

  @media screen and ($max1024){
    padding:15px 30px;

    /*
    & > .disclaimer {
      padding-top:45px;
    }
    */
  }

  &.show {
    top:calc(3.646vw + 40px);
    visibility:visible;
    opacity:1;
    pointer-events:all;
  }
}

body.admin-bar #sticky-bar.show {
  top: calc(9.333vw + 3px);
}

.toc-wrap {
  position:absolute;
  left:30px;
  width:350px;
}

#sticky-toc {
  position: absolute;
  z-index:9;
  top:35px;
  height:0;
  background: #fff;
  padding: 10px;
  box-shadow: 2px 6px 9px 0px rgb(0 0 0 / 30%);
  transition:all 0.4s ease;
  
  max-height: 40vh;
  overflow:hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-color: #17fcc4 transparent;
  scrollbar-gutter: stable;
  scrollbar-width: auto;

  pointer-events:none;
  visibility:hidden;

  &.open {
    pointer-events:all;
    visibility:visible;
  }
  #content-bullets ol {
    padding-left: 20px;

    li {
      font-size:16px;
      line-height:28px;

      a.active {
        font-weight:700 !important;
      }
    }
  }
}

#sticky-bar {
  .article-share {
    .social-item {
      height:32px;
      width:32px;
    }
  }
  
  .dropdown-arrow-btn {
    display: inline-block;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.3s ease;
    width: 30px;
    height: 30px;
    right: -23px;
    top: 50%;
    transform: translateY(-50%);

    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      backface-visibility: hidden;
      left: 50%;
      top: 50%;
      transition: all 0.3s ease;
      transform: translate(-50%, -50%) rotate(-45deg);
      border-left-style: solid;
      border-bottom-style: solid;
      border-color: #002ea6;
      width: 6px;
      height: 6px;
      border-left-width: 2.5px;
      border-bottom-width: 2.5px;
    }
  }
}
/*
#sticky-bar.show {
  @media screen and (min-width: 551px) and (max-width: 1024px) {
    top: 120px;
  }
  @media screen and (max-width: 550px){
    top: calc(16vw + 40px);
  }
  @media screen and (max-width: 380px){
    top: 95px;
  }
}
*/

#sticky-toc-toggle.open .dropdown-arrow-btn::before {
  transform:translate(-50%, -50%) rotate(-135deg);
}
.divider-bottom::after {
  content:'';
  position:absolute;
  bottom:-50px;
  left:24px;
  margin:0 auto;
  width:calc(100% - 96px);
  height:1px;
  background:rgb(0 46 166 / 20%);
}
#postads {
  transition:all 0.3s ease;

  .hbspt-form {
    padding:0;
    background:transparent;
    border-radius:none;

    .hs-input:not(input[type=checkbox])::-webkit-input-placeholder {
      color:transparent;
    }
  }
  .post-ad {
    opacity:0;
    transition:all 0.4s ease;

    &.bg-green .hbspt-form .hs-form-field label:not(.hs-form-checkbox-display):not(.hs-error-msg) {
      background-color: #17fcc4;
    }
    &.bg-light .hbspt-form .hs-form-field label:not(.hs-form-checkbox-display):not(.hs-error-msg) {
      background-color: #f2f4fa;
      color:#002ea6;
    }
    &.bg-green .hbspt-form .hs-input:not(input[type=checkbox]),
    &.bg-light .hbspt-form .hs-input:not(input[type=checkbox]) {
      color:#002ea6;
    }
    &.bg-green .hbspt-form .btn-default .btn-bg-el {
      background-color: #002ea6;
    }
    &.bg-green .hbspt-form .btn-default .btn-txt {
      color:#fff;
    }
    &.bg-green .hbspt-form .btn-default:hover .btn-txt,
    &.bg-green .hbspt-form .btn-default:focus .btn-txt {
      color:#002ea6;
    }
    &.bg-green .hbspt-form .btn-default .btn-bg-el:before {
      background-color: #fff;
    }

    &.bg-blue::before {
      background-image: url(/wp-content/themes/sekure/assets/media/svgs/blog-cta.svg);
      background-position: 100% 100%;
      background-repeat: no-repeat;
      background-size: contain;
      bottom: 0;
      content: "";
      display: block;
      height: 85%;
      position: absolute;
      right: 0;
      width: 100%;
      z-index: 0;
    }
  }
}

@media screen and ($min1024){
  #table-of-contents {
    display:grid;
    grid-template-rows:auto auto;
    gap:30px;
  }

  #article-text.col-lg-8::before {
    content:'';
    position:absolute;
    top: 0;
    left: calc(-0.25 * calc(48px * .5));
    width:1px;
    height:100%;
    background:rgb(0 46 166 / 20%);
  }
}
@media screen and (min-width:1200px){
  #article-text.col-lg-8::before {
    left:-48px;
  }
}
/*
@media screen and (min-width:1441px){
  body.admin-bar #sticky-bar.show {
    top:138px;
  }
}
*/
@media screen and ($max1024){
  #sticky-bar {
    flex-direction: column;
    gap: 10px;

    #sticky-toc-toggle {
      display:block;
      text-align:center;
    }

    .dropdown-arrow-btn {
      right:auto;
    }

    .toc-wrap {
      position:relative;
      left:auto;
    }

    .sticky-extras {
      position:relative;
      right:auto;
    }
  }
  #sticky-toc {
    top:15px;
  }
  /*
  body.admin-bar #sticky-bar.show {
    top:152px;
  }
  */
}
@media screen and (max-width:380px){
  .toc-wrap {
    width:280px;
  }
}