.header-open-form-btn,
.header-cta-btn {
  opacity: 0;
  pointer-events:none;
  cursor: pointer;
  transition: opacity 0.7s ease;
  &.revealed {
    opacity: 1;
    pointer-events:all;
    transition: opacity 0.7s ease;
  }
  &.side-menu-quiz-btn {
    opacity: 1;
  }
}

.landing-header-open-form-btn,
.landing-header-cta-btn {
  opacity: 0;
  pointer-events:none;
  cursor: pointer;
  transition: opacity 0.7s ease;
  &.revealed {
    opacity: 1;
    pointer-events:all;
    transition: opacity 0.7s ease;
  }
  &.side-menu-quiz-btn {
    opacity: 1;
  }
}
