/*
img[data-src] {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  will-change: opacity;
}
  
img[data-src][src] {
  opacity: 1;
}
*/

// Related articles - single article page
.related-articles {
  > div {
    transition: opacity 0.3s ease;
  }

  @media screen and ($min1920) {
    margin-top: 50px;
  }

  .related-articles-wrap {
    &.blog-grid-wrap {
      justify-content: flex-start;
    }

    .related-post-item {
      /*
      .single-article-title {
        text-transform: none;

        a {
          color: $blue-1;
        }
      }
      */

      .related-reading-time {
        color: $gray-22;
      }
    }
  }

  /*
  .related-meta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px 0;

    .post-date {
      min-width: 150px;
      margin-top: 20px;
    }
  }
  */
}

.blog-post-thumbnail {
  //object-fit: cover;

  @media screen and ($mobile_lg) {
    width: 490px;
    height: 300px;
  }

  @media screen and ($mobile_all) {
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and ($min1920) {
    width: 510px;
    height: 340px;
  }
}

/*
.reading-time {
  a {
    color: $blue-1;
  }
}
*/

// Blog page
.blog-banner {
  background: $blue-1;
  background: rgba(0, 0, 0, 0%);
  p,
  h1 {
    text-shadow: 1px 1px #151515;
  }
}

// Newsletter
.newsletter-signup-wrap {
  background-color: $blue-1;
  padding: 30px;

  .newsletter-inner-holder {
    position: relative;
    z-index: 4;

    @media screen and ($min1024) {
      max-width: 750px;
    }
  }

  .newsletter-description {
    margin-top: 20px;
    margin-bottom: 25px;
  }

  .newsletter-background-img {
    background-size: cover;
  }
}

.posts-filter {
  select {
    padding: 10px;
    font-size: 16px;
  }
}

// Blog pagination
.blog-pagination {
  text-align: center;

  @media screen and ($mobile_all) {
    padding-bottom: 40px;
  }

  a {
    font-size: 21px;
    color: $blue-1;
    display: inline-block;
    padding: 0 10px;

    &.active {
      color: $green-1;
      font-size: $contentPadding;
      font-weight: 700;
    }
  }

  span {
    color: $blue-1;
    font-size: 20px;
  }
}

.blog-contact-item {
  a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid $blue-1;
    padding: 20px 0;
    font-family: $redhat !important;
    transition: color 0.3s ease;

    .icon {
      margin-right: 30px;
      display: flex;
      align-items: center;
    }
  }
}

// Search blog form and results page

#searchform {
  margin-top: 30px;

  div {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and ($mobile) {
      &:not(.input-group-append) {
        flex-direction: column;
      }
    }

    input[type='text'] {
      border-radius: 50px;
      padding: 18px 15px;

      @media screen and ($min1024) {
        margin-right: 20px;
      }

      @media screen and ($min1920) {
        font-size: $ft-18;
        padding: 18px 15px;
      }

      @media screen and ($mobile) {
        padding: 14px 15px;
        margin-bottom: 10px;
      }
    }

    input[type='submit'] {
      font-weight: 700;
      width: 230px;

      @media screen and ($mobile) {
        width: 100%;
      }

      &:hover,
      &:focus {
        cursor: pointer;
      }
    }
  }
}

.small-thumbnail {
  img {
    object-fit: cover;

    @media screen and ($mobile_lg) {
      width: 490px;
      height: 300px;
    }

    @media screen and ($mobile_all) {
      margin-left: auto;
      margin-right: auto;
    }

    @media screen and ($min1920) {
      width: 510px;
      height: 340px;
    }
  }
}

.archive-pagination {
  text-align: center;
  width: 100%;

  @media screen and ($mobile_all) {
    padding-bottom: 40px;
  }

  span {
    font-size: 21px;
    color: $blue-1;
    display: inline-block;
    padding: 0 10px;

    &.current {
      color: $green-1;
      font-size: $contentPadding;
      font-weight: 700;
    }
  }

  .page-numbers {
    color: $blue-1;
    font-size: 20px;
    margin: 0 10px;

    &.prev {
      display: none !important;
    }

    &.next {
      display: none !important;
    }
  }
}

// Search results
.back-to-blog {
  display: flex;
  align-items: center;
  margin-top: 40px;

  &:hover,
  &:focus {
    img {
      margin-right: 10px;
      transition: margin-right 0.3s ease;
    }
  }

  img {
    margin-right: 20px;
    transform: rotate(-180deg);
    transition: margin-right 0.3s ease;
  }
}
