.related-post-thumb {
  width: 100%;
  height: 350px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.related-articles {
  //margin-bottom: 48px;

  .related-articles-wrap {
    /*
    &.blog-grid-wrap {
      justify-content: flex-start;
    }
    */

    .related-post-item {
      @media screen and ($min1024) {
        justify-items: flex-start;
        align-content: flex-start;
        display: grid;
      }

      .related-reading-time {
        color: $gray-22;
      }
    }
  }

  /*
  .related-meta {
    a {
      &:hover, &:focus {
        text-decoration:underline;
      }
    }
  }

  .related-meta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .related-content {
    //display: flex;
    //flex-direction: column;
    //justify-content: space-between;
    //align-items: flex-start;

    h3 a {
      &:hover, &:focus {
        color:$blue-1;
      }
    }
  }
  */
}
