:root {
  --lg-offset: calc(64px * 2);
  --xl-offset: calc(64px * 2);
  --xxl-offset: calc(148px * 2);
  --xxml-offset: calc(148px * 2);
  --xxxl-offset: calc(148px * 2);
}

/*
@mixin ContainerSizes($breakpoint) {
  @if $breakpoint == xl {
    max-width: calc(100% - var(--xl-offset));
  } @else if $breakpoint == xxl {
    max-width: calc(100% - var(--xxl-offset));
  } @else if $breakpoint == xxml {
    max-width: calc(1500px - var(--xxml-offset));
  } @else if $breakpoint == xxxl {
    max-width: calc(1800px - var(--xxxl-offset));
  } @else {
    max-width: 100%;
  }
}

if $breakpoint == lg {
    max-width: calc(100% - var(--lg-offset));
  } @else 
*/

.container {
  max-width:1440px;
  width:100%;
  margin-left:auto;
  margin-right:auto;
  padding-left:148px;
  padding-right:148px;

  @media screen and ($max1024){
    max-width:880px;
    padding-left:64px;
    padding-right:64px;
  }
  @media screen and ($max500){
    max-width:320px;
    padding-left:24px;
    padding-right:24px;
  }

  &.big {
    max-width:1880px;
    padding-left:30px;
    padding-right:30px;
  }

  &.full {
    max-width:100%;
    padding-left:64px;
    padding-right:64px;

    @media screen and ($max1024){
      padding-left:32px;
      padding-right:32px;
    }
  }

  &.wp-block-columns .container {
    max-width:100%;
    padding:0;
  }
}

/*
@media screen and ($max500){
  .row > * {
    padding-left:16px !important;
    padding-right:16px !important;
  }
}
*/

.max-w-container{margin:0 auto;width:100%}
.max-w-container.w-1850{max-width:1850px}

.container-fw {
  .row {
    .column {
      @media screen and ($min1024){
        padding-left:0 !important;
        padding-right:0 !important;
      }

      $screen--xs: 0 !default;
      $screen--sm: 576px !default;
      $screen--md: 768px !default;
      $screen--lg: 992px !default;
      $screen--xl: 1200px !default;
      $screen--xxl: 1400px !default;

      $container-sm: 540px !default;
      $container-md: 720px !default;
      $container-lg: 960px !default;
      $container-xl: 1140px !default;
      $container-xxl: 1320px !default;

      .column-single {
        padding-left: $container-padding-x;
        padding-right: $container-padding-x;

        @media (min-width: $screen--md) {
          padding-right: calc(
            (100vw - #{$container-md}) / 2.3 - #{$desiredSpaceVW}
          );

          padding-left: calc(
            (100vw - #{$container-md}) / 2.3 - #{$desiredSpaceVW}
          );
        }

        @media (min-width: $screen--lg) {
          // $desiredSpaceVW: -3vw;
          padding-right: calc(
            (100vw - #{$container-lg}) / 2.3 - #{$desiredSpaceVW}
          );

          padding-left: calc(
            (100vw - #{$container-lg}) / 2.3 - #{$desiredSpaceVW}
          );
        }

        @media (min-width: $screen--xl) {
          padding-right: calc(
            (100vw - #{$container-xl}) / 2.3 - #{$desiredSpaceVW}
          );

          padding-left: calc(
            (100vw - #{$container-xl}) / 2.3 - #{$desiredSpaceVW}
          );
        }

        @media (min-width: $screen--xxl) {
          padding-right: calc(
            (100vw - #{$container-xxl}) / 2.3 - #{$desiredSpaceVW}
          );
          padding-left: calc(
            (100vw - #{$container-xxl}) / 2.3 - #{$desiredSpaceVW}
          );
        }
      }

      &:first-of-type {
        .column-inner {
          padding: 0 $container-padding-x;

          // @media (min-width: $screen--md) {
          //   padding: $container-padding-x
          //     calc((100vw - #{$container-md}) / 2.3 - #{$desiredSpaceVW})
          //     $container-padding-x
          //     calc((100vw - #{$container-md}) / 2.3 - #{$desiredSpaceVW});
          // }

          @media (min-width: $screen--lg) {
            // $desiredSpaceVW: -3vw;
            padding: $container-padding-x $container-padding-x
              $container-padding-x
              calc((100vw - #{$container-lg}) / 2.3 - #{$desiredSpaceVW});
          }

          @media (min-width: $screen--xl) {
            padding: $container-padding-x $container-padding-x
              $container-padding-x
              calc((100vw - #{$container-xl}) / 2.3 - #{$desiredSpaceVW});
          }

          @media (min-width: $screen--xxl) {
            padding: $container-padding-x $container-padding-x
              $container-padding-x
              calc((100vw - #{$container-xxl}) / 2.3 - #{$desiredSpaceVW});
          }

          @media screen and (max-width:1440px){
            padding: 0 48px;
          }
        }
      }
      &:last-of-type {
        .column-inner {
          //padding: 0 $container-padding-x;

          // @media (min-width: $screen--md) {
          //   padding: $container-padding-x
          //     calc((100vw - #{$container-md}) / 2.3 - #{$desiredSpaceVW})
          //     $container-padding-x
          //     calc((100vw - #{$container-md}) / 2.3 - #{$desiredSpaceVW});
          // }

          @media (min-width: $screen--lg) {
            // $desiredSpaceVW: -3vw;
            padding: $container-padding-x
              calc((100vw - #{$container-lg}) / 2.3 - #{$desiredSpaceVW})
              $container-padding-x $container-padding-x;
          }

          @media (min-width: $screen--xl) {
            padding: $container-padding-x
              calc((100vw - #{$container-xl}) / 2.3 - #{$desiredSpaceVW})
              $container-padding-x $container-padding-x;
          }

          @media (min-width: $screen--xxl) {
            padding: $container-padding-x
              calc((100vw - #{$container-xxl}) / 2.3 - #{$desiredSpaceVW})
              $container-padding-x $container-padding-x;
          }
        }
      }
    }
  }
}

.col-xs {
  @media screen and ($max500){
    &-12 {
      width:100%;
    }
  }
}

html.header-opened-dropdown .sk-sticky {
  z-index: 0;
}

.sk-sticky {
  @media screen and (min-width:1024px) {
    position: sticky;
    top: 0;
    z-index: 1020;
    top: 130px !important;
    &.sk-sticky-padded {
      padding-top: 130px !important;
    }
  }
  @media screen and ($min1600) {
    top: 225px !important;

    &.sk-sticky-padded {
      padding-top: 150px !important;
      // padding-right: 20px;
    }
  }
}

@include responsive-display {
  display: block !important;
  &-table {
    display: table !important;
  }
  &-table-cell {
    display: table-cell !important;
  }
  &-block {
    display: block !important;
  }
  &-inline-block {
    display: inline-block !important;
  }
  &-inline {
    display: inline !important;
  }
  &-flex {
    display: flex !important;
  }
  &-inline-flex {
    display: inline-flex !important;
  }
  &-none {
    display: none !important;
  }
}
