// Global
fieldset {
  border: none;
}

// Confirmation pages
.confirmation-body {
  .survey-results {
    display: flex;
    justify-content: space-between;
    gap:48px;
    margin-top:24px;

    @media screen and ($mobile) {
      flex-direction: column;
    }
    @media screen and ($max500){
      gap:32px;
    }
    
    .survey-res-heading {
      font-weight: 700;
      margin-bottom: 15px;
    }
    .survey-txt {
      line-height: 1.5;
    }
    .res-column {
      flex:1;

      br {
        display:none;
      }

      &.equipment-res {
        width: 100%;
        .res-images {
          img {
            max-width: 200px;
          }
        }
      }
    }
    .res-img-text {
      display: flex;
      align-items: center;
      @media screen and ($min1024) {
        margin-bottom: 30px;
      }
      margin-bottom: 20px;
      img {
        margin-right: 20px;
      }
      p {
        text-transform: uppercase;
        font-weight: 700;
      }
    }
  }

  .query-button-next {
    .scroll-btn-img {
      transform: rotate(90deg) !important;
      top: 28%;
      left: 36%;
    }
  }

  .query-button-next {
    .btn-txt {
      right: -88%;
    }
  }
}

.confirmation-footer {
  @include vw(margin-top, 180px);
  display: flex;
  @media screen and ($mobile) {
    flex-direction: column;
  }
  align-items: center;
  .cta-back {
    width: 100%;
    @media screen and ($min1024) {
      width: 35%;
    }
    @media screen and ($mobile) {
      margin-bottom: 20px;
    }
  }
}
