.solutions-section-home {
  padding-top: $sk-block-padding;
  padding-bottom: $sk-block-padding;

  @media screen and ($max500) {
    padding-top: $sk-block-padding-mobile;
    padding-bottom: $sk-block-padding-mobile;
  }

  .retail-svg {
    path {
      opacity: 0;
    }
  }

  .single-block {
    .txt-wrap {
      @media screen and ($mobile){
        hyphens:auto;
        word-break:break-word;
      }
    }
    @media screen and ($min1024){
      width:20%;
    }
  }

  .img-overlay-anim {
    position: absolute;
    width: 110%;
    height: 110%;
    top: -5%;
    left: -5%;
    background-color: $white;
    transform-origin: 100% 50%;
    z-index: 4;
  }

  .icon-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-bottom:25px;
    height: 80px;

    svg {
      height:100%;
      width:auto;

      &:not(.restaurant-svg) {
        max-width:65px;
      }
    }
  }
}
