/*
.partners-section-home {
  .img-partner-hold .img-wrapper,
  .img-partner-hold img {
    max-width: 250px;
    max-height: 75px;
  }
  @media screen and (max-width: 576px) {
    .slider-arrows .blaze-next {
      right: -15px;
    }
  }

  .mb-table {
    .mt-box-inner {
      background-color: transparent;
    }
  }
}
*/
