@use "pages";
@use "../blocks/savings-calculator.scss";

.calculator-page-circle-info-section {

    @media screen and ($min1024){
        padding-top:55px !important;
    }
    @media screen and ($max1024){
        padding-top:32px !important;
    }

    .breadcrumb-wrap li:after {
        border-color:$blue-1;
    }

    .info-white-section-img {
        position: relative;
        z-index: 2;
    }

    .background-pattern-svg {
        position: absolute;
        opacity:0.2;

        @media ($mobile_all) {
            display: none;
        }

        @media ($min1024) {
            @include vw(top, -370px);
            @include vw(right, -288px);
            @include vw(width, 761px);
        }

        @media ($min1920) {
            top: -370px;
            right: -288px;
            width: 761px;
        }
    }

    .calculator-circle-el {
        @include abs-cover-el;
        border-radius: 50%;
        backface-visibility: hidden;

        @media ($mobile_all) {
            display: none;
        }
    }

    .calculator-circle-gray-border {
        border: 1px solid $gray-25;
        z-index: 3;
        transform: translateY(74%);
    }

    .calculator-circle-blue {
        background-color: $blue-24;
        z-index: 3;
        transform: translateX(-68%);
    }

    .calculator-circle-gray {
        background-color: $gray-23;
        z-index: 2;
        transform: translate(-68%, 74%);
    }

    .img-width-wrap {
        position: relative;
        z-index: 4;
    }
}

.bgr-circle-info-section {
    &::before {
        content: "";
        display: inline-block;
        @include abs-cover-el;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 2;

        @media ($mobile_all) {
            background-color: rgba(0, 0, 0, 0.5);
        }
    }

    .bg-image {
        background-size: cover;
        background-position: 50% 0%;
        z-index: 1;
    }

    .container {
        z-index: 3;
    }

    .bgr-circle-svg {
        @media ($mobile_all) {
            display: none;
        }

        @media ($min1024) {
            position: absolute;
            height: 169%;
            top: 46%;
            left: 44%;
            transform: translate(-50%, -50%);

            circle {
                fill: $blue-1;
                opacity: 0.8;
            }
        }
    }

    .txt-content {
        width: 100%;

        @media ($mobile_all) {
            max-width: 450px;
        }

        @media ($min1024) {
            @include vw(width, 360px);
            padding-left:2vw;

            & > *:not(.bgr-circle-svg) {
                z-index: 2;
                position: relative;
            }
        }

        @media ($min1920) {
            width: 360px;
        }
    }
}

.sekure-advantage {
    .img-wrap {
        img {
            width:100%;
        }
    }
}

@media screen and (max-width: 1024px) {
    .calculator-section .graphic-info-bot-wrap {
        left: -2vw;
        width: 73vw;
        z-index: 9;
    }
    .calculator-section .background-graphic-paths-svg,
    .calculator-section .graphic-el-wrap {
        width:74vw;
    }
    .calculator-section .calculator-graphic-wrap {
        margin-top: 64px;
    }
}
@media screen and ($max768){
    .calculator-section .calculator-graphic-wrap,
    .calculator-section .graphic-el-wrap {
        width:100%;
    }
    .calculator-section .background-graphic-paths-svg {
        width:100%;
        height:auto;
    }
    .calculator-section .graphic-info-bot-wrap {
        width: auto;
        font-size: 12px;
        text-align: center;
        bottom: -60px;
        right: 0;
        left: 0;
        gap: 10px;
    }
    .calculator-section .info-bot-wrap-step[data-step="2"],
    .calculator-section .info-bot-wrap-step[data-step="3"],
    .calculator-section .info-bot-wrap-step[data-step="4"],
    .calculator-section .info-bot-wrap-step[data-step="5"]{
        margin-left:-8px;
    }
}
