@use 'pages';

.inner-pages-landing-section {
  .landing-video-btn.careers-video-btn {
    @media screen and ($min1024){
      right:14.66vw;
      bottom:0;
    }
  }

  @media screen and (max-width: 1024px) {
    .landing-video-btn {
      bottom: 5px !important;
    }

    .gap-rows.flex-column-1024 {
      row-gap:24px;
    }
  }
}

.about-page {
  &-core-values-section {
    .pin-wrap {
      width: 100%;
    }

    .section-progress-bar {
      width: 100%;
      height: 6px;
      position: absolute;
      left: 0;
      bottom: 0;
      background-color: $blue-1;
      backface-visibility: hidden;
      transform-origin: 0% 50%;
      @media screen and ($mobile_all) {
        display: none;
      }
    }

    .icon-part {
      display: inline-block;
      position: absolute;
      backface-visibility: hidden;
    }

    .icons-canvas {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      backface-visibility: hidden;
      height: 133.335%;

      @media screen and ($max500){
        height:119.335%;
      }
    }

    .icon-wrap {
      position: relative;
      flex: 0 0 auto;
      @media screen and ($mobile_sm) {
        //@include vw(width, 360px, 500);
        @include vw(height, 360px, 500);
      }
      @media screen and ($mobile_lg) {
        //width: 360px;
        height: 360px;
      }
      @media screen and ($mobile_all) {
        order: 3;
        margin-left: auto;
        margin-right: auto;
      }

      @media screen and ($min1024) {
        //@include vw(width, 360px);
        @include vw(height, 360px);
        margin-left:-7.75vw;
      }
      @media screen and (min-width:1120px){
        margin-left:-9vw;
      }
      @media screen and (min-width:1220px){
        margin-left:-10vw;
      }
      @media screen and (min-width:1320px){
        margin-left:-11vw;
      }
      @media screen and (min-width:1420px){
        margin-left:-12vw;
      }
      @media screen and (min-width:1460px){
        margin-left:-11vw;
      }
      @media screen and (min-width:1540px){
        margin-left:-10vw;
      }
      @media screen and (min-width:1620px){
        margin-left:-9vw;
      }
      @media screen and (min-width:1660px){
        margin-left:-8vw;
      }
      @media screen and (min-width:1740px){
        margin-left:-7vw;
      }
      @media screen and (min-width:1820px){
        margin-left:-6vw;
      }
      @media screen and (min-width:1860px){
        margin-left:-100px;
      }
      /*
      @media screen and ($min1920) {
        width: 360px;
        height: 360px;
        margin-right: 154px;
      }
      */
      .icon-part-1 {
        top: 0;
        left: 0;
        background-color: $red-2;
        @media screen and ($mobile_sm) {
          @include vw(width, 180px, 500);
          @include vw(height, 360px, 500);
          @include vw(border-radius, 0 360px 360px 0, 500);
        }
        @media screen and ($mobile_lg) {
          width: 180px;
          height: 360px;
          border-radius: 0 360px 360px 0;
        }
        @media screen and ($min1024) {
          @include vw(width, 180px);
          @include vw(height, 360px);
          @include vw(border-radius, 0 360px 360px 0);
        }
        @media screen and ($min1920) {
          width: 180px;
          height: 360px;
          border-radius: 0 360px 360px 0;
        }
      }

      .icon-part-2 {
        top: 0;
        right: 0;
        background-color: $red-2;
        @media screen and ($mobile_sm) {
          @include vw(width, 180px, 500);
          @include vw(height, 360px, 500);
          @include vw(border-radius, 360px 0 0 360px, 500);
        }
        @media screen and ($mobile_lg) {
          width: 180px;
          height: 360px;
          border-radius: 360px 0 0 360px;
        }
        @media screen and ($min1024) {
          @include vw(width, 180px);
          @include vw(height, 360px);
          @include vw(border-radius, 360px 0 0 360px);
        }
        @media screen and ($min1920) {
          width: 180px;
          height: 360px;
          border-radius: 360px 0 0 360px;
        }
      }
    }

    .content-blocks-wrap {
      display: flex;
      //overflow: hidden;
      //width: 100%;
      @media screen and ($mobile_all) {
        order: 2;
      }
      /*
      @media screen and ($min1024) {
        max-width: 40vw;
        margin: 0 4vw 0 0;
      }
      @media screen and ($min1920) {
        margin-right: 80px;
      }
      */
    }

    .animated-items-wrap {
      display: flex;
      flex: 0 0 auto;
      width: 100%;
    }

    .single-block {
      flex: 0 0 auto;
      width: 100%;
    }

    .section-title {
      @media screen and ($mobile_sm) {
        @include vw(max-width, 500px, 500);
        @include vw(margin-bottom, 50px, 500);
      }
      @media screen and ($mobile_lg) {
        max-width: 500px;
        margin-bottom: 50px;
      }
      @media screen and ($min1024) {
        @include vw(max-width, 820px);
        @include vw(margin-bottom, 109px);
      }
      @media screen and ($min1920) {
        max-width: 820px;
        margin-bottom: 109px;
      }
    }

    .txt-size-30 {
      margin-top: 25px;
      @media screen and ($mobile_sm) {
        @include vw(max-width, 500px, 500);
      }
      @media screen and ($mobile_lg) {
        max-width: 500px;
      }
      @media screen and ($min1024) {
        @include vw(max-width, 500px);
        @include vw(margin-top, 30px);
        @include vw(margin-left, 2px);
      }
      @media screen and ($min1920) {
        max-width: 500px;
        margin-top: 30px;
        margin-left: 2px;
      }
      strong,
      b {
        color: $red-2;
      }
    }

    .pinned-content-wrap {
      display: flex;
      align-items: flex-start;
      @media screen and ($mobile_all) {
        flex-flow: row wrap;
      }
    }

    .single-block-txt-content {
      display: flex;
      align-items: flex-start;
      margin-top: 25px;
      max-width: 470px;
      @media screen and ($min1024) {
        opacity: 1;
        @include vw(margin-top, 35px);
        @include vw(max-width, 470px);
      }
      @media screen and ($min1920) {
        margin-top: 35px;
        max-width: 470px;
      }
    }

    .quote-by-txt {
      margin-top: 20px;
    }

    .img-wrap {
      flex: 0 0 auto;
      width: 26px;
      height: 24px;
      margin-right: 15px;
      margin-top: 8px;
      margin-left: 3px;
      @media screen and ($min1024) {
        @include vw(width, 26px);
        @include vw(height, 24px);
        @include vw(margin-right, 15px);
        @include vw(margin-top, 8px);
        @include vw(margin-left, 3px);
      }
      @media screen and ($min1920) {
        width: 26px;
        height: 24px;
        margin-right: 15px;
        margin-top: 8px;
        margin-left: 3px;
      }
    }

    // @media screen and ($mobile_all) {
    //     .single-block:not(:first-of-type) {
    //         .char {
    //             opacity: 1!important;
    //         }

    //         .anim-translate-y {
    //             opacity: 1!important;
    //             transform: translate(0%, 0%)!important;
    //         }
    //     }
    // }

    .quote-by-txt {
      margin-left: 46px;
      padding-left: 35px;
      @media screen and ($min1024) {
        @include vw(margin-left, 46px);
        @include vw(padding-left, 35px);
      }
      @media screen and ($min1920) {
        margin-left: 46px;
        padding-left: 35px;
      }
      &::before {
        content: '';
        display: inline-block;
        position: absolute;
        background-color: $blue-1;
        left: 0;
        top: 0.85em;
        width: 14px;
        height: 2px;
        @media screen and ($min1024) {
          @include vw(width, 14px);
          @include vw(height, 2px);
        }
        @media screen and ($min1920) {
          width: 14px;
          height: 2px;
        }
      }
    }

    .step-button {
      width: 24px;
      height: 24px;
      transition: opacity 0.5s $easeOutSine;
      opacity: 0.3;

      @media screen and ($mobile_sm) {
        //@include vw(margin-left, 32px, 500);
       // @include vw(margin-right, 32px, 500);
      }
      @media screen and ($mobile_lg) {
        //margin-left: 32px;
        //margin-right: 32px;
      }
      &.active {
        opacity: 1;
      }

      &:not(:last-of-type) {
        @media screen and ($min1024) {
          //@include vw(margin-bottom, 58px);
        }
        @media screen and ($min1920) {
          //margin-bottom: 58px;
        }
      }
    }

    .step-buttons-wrap {
      //z-index: 2;
      //flex: 0 0 auto;
      display: flex;
      @media screen and ($mobile_all) {
        order: 1;
        flex-flow: row wrap;
        margin: 25px 0;
        //width: calc(100% + 50px);
        //justify-content: center;
      }

      @media screen and ($min1024) {
        flex-flow: column nowrap;
        align-items:flex-end;
      }

      .icon-part {
        background-color: $red-2;
      }

      .icon-type-1 {
        .icon-part {
          width: 12px;
          height: 24px;
          top: 0;
        }
        .icon-part-1 {
          left: 0;
          border-bottom-right-radius: 24px;
          border-top-right-radius: 24px;
        }
        .icon-part-2 {
          right: 0;
          border-bottom-left-radius: 24px;
          border-top-left-radius: 24px;
        }
      }

      .icon-type-2 {
        .icon-part {
          width: 14px;
          height: 14px;
          border-radius: 50%;
          opacity: 0.7;
        }
        .icon-part-1 {
          top: 0;
          left: 0;
        }
        .icon-part-2 {
          top: 0;
          right: 0;
        }
        .icon-part-3 {
          bottom: 0;
          left: 0;
        }
        .icon-part-4 {
          bottom: 0;
          right: 0;
        }
      }

      .icon-type-3 {
        .icon-part {
          width: 12px;
          height: 12px;
        }
        .icon-part-1 {
          top: 0;
          left: 0;
          border-top-right-radius: 24px;
          border-bottom-left-radius: 24px;
        }
        .icon-part-2 {
          top: 0;
          right: 0;
          border-top-left-radius: 24px;
          border-bottom-right-radius: 24px;
          background-color: $red-7;
        }
        .icon-part-3 {
          bottom: 0;
          left: 0;
          border-top-left-radius: 24px;
          border-bottom-right-radius: 24px;
        }
        .icon-part-4 {
          bottom: 0;
          right: 0;
          border-top-right-radius: 24px;
          border-bottom-left-radius: 24px;
          background-color: $red-7;
        }
      }

      .icon-type-4 {
        display: flex;
        justify-content: center;
        align-items: center;
        .icon-part {
          border-radius: 50%;
        }
        .icon-part-1 {
          top: 0;
          left: 0;
          @include fit;
        }
        .icon-part-2 {
          background-color: $white;
          width: 16px;
          height: 16px;
        }
        .icon-part-3 {
          background-color: $red-7;
          width: 8px;
          height: 8px;
        }
      }

      .icon-type-5 {
        .icon-part {
          width: 17px;
          height: 17px;
        }
        .icon-part-1 {
          z-index: 2;
          bottom: 0;
          left: 0;
          background-color: $red-7;
        }

        .icon-part-2 {
          z-index: 1;
          top: 0;
          left: 0;
          border-radius: 50%;
        }

        .icon-part-3 {
          z-index: 1;
          bottom: 0;
          right: 0;
          border-radius: 50%;
        }
      }
    }
  }

  &-join-team-section {

    .background-circles-wrap {
      position: absolute;
      bottom: 0;
      right: 0;
      @media screen and ($mobile_sm) {
        @include vw(height, 240px, 500);
        @include vw(width, 240px, 500);
      }
      @media screen and ($mobile_lg) {
        height: 240px;
        width: 240px;
      }

      @media screen and ($min1024) {
        @include vw(right, -5px);
        @include vw(height, 480px);
        @include vw(width, 480px);
      }

      @media screen and ($min1920) {
        right: -5px;
        height: 480px;
        width: 480px;
      }
    }

    .background-circles-canvas {
      @include fit;
    }
  }
}

.symbol-section {
  background-color: #f6f8fc;
}
