.table-comparison {
  border-spacing: 0;
  border-collapse: separate;
  table-layout: fixed;
  text-align: center;
  width: 100%;
  margin-bottom: 25px;
  font-weight: 700;

  @media screen and (min-width: 950px) {
    thead {
      color: $blue-1;

      th:first-of-type {
        text-align: left;
      }

      th {
        padding: 15px 25px;

        &.table-logo {
          text-align: center;
          img {
            width: 155px;
            padding: 15px 5px;

            &.logo-one {
              max-width: 145px;
            }
          }
        }
      }
    }

    tbody tr {
      td:first-of-type {
        text-align: center;
        color: $blue-1;
        padding: 18px;
        line-height: 30px;
        font-weight: 600;
      }

      td:not(:first-of-type) {
        color: $blue-1;
      }

      &:nth-of-type(odd) {
        background-color: transparentize($green-1, 0.8);
      }
    }

    strong,
    b {
      color: $blue-1;
    }

    tr {
      vertical-align: initial;

      &.four-columns-heading-row {
        vertical-align: middle;

        th {
          text-align: center;
          max-width: 9.375rem;

          &:first-child {
            text-align: left;
          }

          img {
            display: block;
            margin: 0 auto;
          }
        }
      }
    }

    img {
      vertical-align: middle;
    }

    th {
      padding: 0.625rem;

      &:first-of-type {
        padding-left: 0;
        padding-right: 0;
      }
    }

    td {
      padding: 0.625rem;
      vertical-align: middle;

      &:first-of-type {
        padding-left: 0;
        padding-right: 0;
      }
    }

    tbody {
      color: $blue-1;
      text-align: center;
      font-family: $libre;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
    }
  }

  @media screen and (max-width: 950px) {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 20px 0;
    margin: 20px 0;
    width: 100%;
    table-layout: fixed;

    caption {
      font-size: 1.5em;
      margin: 0.5em 0 0.75em;
    }

    tbody {
      background-color: transparent !important;
    }

    tr {
      border: transparent;
      padding: 0;
    }

    th,
    td {
      padding: 0.625em;
      text-align: center;
    }

    th {
      font-size: 0.85em;
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }

    @media screen and (max-width: 950px) {
      border: 0;

      caption {
        font-size: 1.3em;
      }

      thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }

      tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: 10px;
      }

      td {
        display: block;
        font-size: 0.875rem;
        text-align: center;
        color: $blue-1;
        background-color: white;
        // margin-right: -5px;

        // @media screen and (min-width: 400px) {
        //   width: 50%;
        //   vertical-align: top;
        //   flex-direction: column;
        //   align-content: flex-start;
        //   align-items: center;
        // }

        &.first-row {
          font-size: 1rem;
          color: $blue-1;
          text-align: center;
          background-color: $green-1;
          width: 100%;

          &::before {
            content: unset;
            display: none !important;
          }
        }
      }

      td:is([data-label]) {
        &::before {
          content: '';
          background-image: var(--logo-img);
          float: left;
          font-weight: 700;
          text-transform: uppercase;
          width: 100%;
          height: 45px;
          background-size: 135px;
          background-position: center center;
          background-repeat: no-repeat;
          margin-bottom: 9px;
        }
      }

      td:last-child {
        border-bottom: 0;
        color: $blue-1;
        background-color: #e6fdf7;
        // border: 5px solid $green-1;
        // border-top: none;

        // border-bottom-right-radius: 35px;
        // border-bottom-left-radius: 35px;

        // @media screen and (max-width: 400px) {
        // border-top: 5px solid $green-1;
        // border-radius: 35px;
        // }
      }
    }
  }
}

.table-comparison-simple {
  .col-sm-12.col-lg-6 {
    width:100%;
  }
  @media screen and (min-width:950px){
    .table-comparison thead th.table-logo:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      height: 125%;
      width: 100%;
      margin: 0;
      border: 5px solid #17fcc4;
      border-bottom: 0;
      border-top-left-radius: 35px;
      border-top-right-radius: 35px;
    }
    .table-comparison thead th.table-logo:first-of-type:before {
      border-right: none;
    }
    .table-comparison tbody tr td:not(:first-of-type) {
      border-left: 5px solid #17fcc4;
    }
  }
}

@media screen and (min-width: 950px) {
  .accent-column {
    border-left: 5px solid #17fcc4;
    border-right: 5px solid #17fcc4;
  }

  .accent-column.last-accent-column{border:none!important;position:relative}
  .accent-column.last-accent-column:after{border: 5px solid #17fcc4;border-bottom-left-radius: 35px;border-bottom-right-radius: 35px;border-top: 0;content: "";display: block;height: 125%;left: 0;margin: 0;position: absolute;top: 0;width: 100%}
  .table-comparison thead th.table-logo{position:relative;}
  .table-comparison thead th.table-logo:last-of-type::before {
    border: 5px solid #17fcc4;border-top-left-radius: 35px;border-top-right-radius: 35px;border-bottom: 0;content: "";display: block;height: 125%;left: 0;margin: 0;position: absolute;top: 0;width: 100%
  }
}

@media screen and (max-width: 950px) {
  .accent-column {
    border-left: none;
    border-right: none;

    &.first-accent-column {
      border-top: none;
    }

    &.last-accent-column {
      border-bottom: none;
    }
  }
}