.bg {
  &-light {
    background-color: $gray-21;
  }
  &-blue, &-primary {
    background-color: $blue-1;
  }
  &-blue-6 {
    background-color: $blue-6;
  }
  &-blue-12 {
    background-color: $blue-12;
  }
  &-primary, &-blue, &-blue-12, &-blue-6 {
    @include WhiteText;

    a:not(button, .btn, .btn-primary, .btn-default, .btn-txt, .single-block) {
      color: $green-1 !important;
      text-decoration: underline !important;
      font-weight: 600;
      &:hover, &:focus {
        color: $red-1 !important;
      }
    }
  }
  &-green {
    background-color: $green-1;
    @include BlueText;

    a[href^='tel:']:not(.btn-default):not(.contact-section-btn):not(.btn):not([type='submit']) {
    color: $blue-1 !important;
    }
  }
  &-green-6 {
    background-color: $green-6;
  }
}

.full-width-bg {
  background-color: $fw-bg;
}
