.b-lazy:not(.dont-show) {
  opacity: 0;
  transition: opacity 0.5s $easeOutSine;

  &.b-loaded {
    opacity: 1;
  }
}

.visually-hidden {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  // height: 1px;
  // width: 1px;
  overflow: hidden;
  clip: rect(
    1px 1px 1px 1px
  ); /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(
    1px,
    1px,
    1px,
    1px
  ); /*maybe deprecated but we need to support legacy browsers */
  clip-path: inset(
    50%
  ); /*modern browsers, clip-path works inwards from each corner*/
  // white-space: nowrap; /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
  // opacity: 0;
  color: transparent !important;
  background-color: transparent !important;
  text-decoration: none;
  font-size: inherit;
  width: fit-content;
  height: fit-content;
  br {
    display: none;
  }
}

.d-flex {
  &-tablet {
    @media screen and (min-width: 501px) and ($max1024){
      display:flex;
    }
  }
  &-tablet-mobile {
    @media screen and ($max1024){
      display:flex;
    }
  }
}

.gap {
  &-10 {
    gap:10px;
  }
  &-20 {
    gap:20px;
  }
  &-30, &-3 {
    gap:30px;
  }
  &-60 {
    gap:60px;

    @media screen and ($max1024){
      gap:30px;
    }
  }

  &-cols {
    gap:48px;

    @media screen and ($max1024){
      &.flex-column-1024 {
        gap:0;

        &.gap-rows {
          row-gap:48px;
        }
      }
    }
    @media screen and ($max500){
      gap:32px;

      &.gap-rows.flex-column-1024 {
        row-gap:32px;
      }
    }
  }

  &-rows {
    row-gap:48px;

    @media screen and ($max500){
      row-gap:32px;
    }
  }
}

.flex-even > * {
  flex:1;
}

.flex-column {
  flex-direction:column;

  &-1024 {
    @media screen and ($max1024){
      display:flex;
      flex-direction:column;
    }
  }
  &-900 {
    @media screen and (max-width:900px){
      display:flex;
      flex-direction:column;
    }
  }
  &-768 {
    @media screen and (max-width:768px){
      display:flex;
      flex-direction:column;
    }
  }
  &-mobile {
    @media screen and ($max500){
      display:flex;
      flex-direction:column;
    }
  }
}

.align-items {
  &-start-1024 {
    @media screen and ($max1024){
      align-items:flex-start;
    }
  }
}

.m {
  &y-default {
    margin-top:50px;
    margin-bottom:50px;
    @media screen and ($max500){
      margin-top:40px;
      margin-bottom:40px;    
    }
  }
  &t-default {
    margin-top:50px;
    @media screen and ($max500){
      margin-top:40px;
    }
  }
  &b-default {
    margin-bottom:50px;
    @media screen and ($max500){
      margin-bottom:40px;
    }
  }
}
.p {
  &y-default {
    padding-top:50px;
    padding-bottom:50px;
    @media screen and ($max500){
      padding-top:40px;
      padding-bottom:40px;    
    }
  }
  &t-default {
    padding-top:50px;
    @media screen and ($max500){
      padding-top:40px;
    }
  }
  &b-default {
    padding-bottom:50px;
    @media screen and ($max500){
      padding-bottom:40px;
    }
  }
}

.object-cover {
  object-fit:cover;
}

.screen-dark::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  background: linear-gradient(90.01deg, rgba(0, 0, 0, .56) .01%, rgba(0, 0, 0, .415015) 40.48%, rgba(0, 0, 0, 0) 80.45%);
}

.overlay {
  position:relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: #000;
    opacity: 0.5;
  }

  &.blue::before {
    background:#002ea6;
    opacity:0.8;
  }

  &.gradient.dark::before {
      background: linear-gradient(90.01deg, rgba(0, 0, 0, .56) .01%, rgba(0, 0, 0, .415015) 40.48%, rgba(0, 0, 0, 0) 80.45%);
      opacity:1;
  }

  &.gradient.blue::before {
    background:linear-gradient(90deg, #002ea6, rgba(0, 46, 166, 0) 85%) !important;
    opacity:1;
  }
}

.d {  
  &-inline {
    display: inline !important;
  }
  &-inline-block {
    display: inline-block !important;
  }
  &-block {
    display: block !important;
  }
  &-grid {
    display: grid !important;
  }

  &-inline-grid {
    display: inline-grid !important;
  }

  &-table {
    display: table !important;
  }

  &-table-row {
    display: table-row !important;
  }

  &-table-cell {
    display: table-cell !important;
  }

  &-flex {
    display: flex !important;
  }

  &-inline-flex {
    display: inline-flex !important;
  }

  &-sm-block {
    @media screen and (min-width:320px){
      display:block !important;
    }
  }
  @media screen and ($min1024){
    &-lg-block {
      display:block !important;
    }
    &-lg-flex {
      display:flex !important;
    }
    &-lg-none {
      display:none !important;
    }
  }
}

.flex {
  &-fill {
    flex: 1 1 auto !important;
  }

  &-row {
    flex-direction: row !important;
  }

  &-column {
    flex-direction: column !important;
  }

  &-row-reverse {
    flex-direction: row-reverse !important;

    &-1023 {
      @media screen and (max-width: 1023px) {
        flex-direction: column-reverse !important;
      }
    }
  }

  &-column-reverse {
    flex-direction: column-reverse !important;
  }
  &-grow {
    &-0 {
      flex-grow: 0 !important;
    }
    &-1 {
      flex-grow: 1 !important;
    }
  }
  &-shrink {
    &-0 {
      flex-shrink: 0 !important;
    }
    &-1 {
      flex-shrink: 1 !important;
    }
  }
  &-wrap {
    flex-wrap: wrap !important;
  }

  &-nowrap {
    flex-wrap: nowrap !important;
  }

  &-wrap-reverse {
    flex-wrap: wrap-reverse !important;
  }
}

.justify-content {
  &-start {
    justify-content: flex-start !important;
  }

  &-end {
    justify-content: flex-end !important;
  }

  &-center {
    justify-content: center !important;
  }

  &-between {
    justify-content: space-between !important;
  }

  &-around {
    justify-content: space-around !important;
  }

  &-evenly {
    justify-content: space-evenly !important;
  }
}

.align-items {
  &-start {
    align-items: flex-start !important;
  }

  &-end {
    align-items: flex-end !important;
  }

  &-center {
    align-items: center !important;
  }

  &-baseline {
    align-items: baseline !important;
  }

  &-stretch {
    align-items: stretch !important;
  }
}

.align-content {
  &-start {
    align-content: flex-start !important;
  }

  &-end {
    align-content: flex-end !important;
  }

  &-center {
    align-content: center !important;
  }

  &-between {
    align-content: space-between !important;
  }

  &-around {
    align-content: space-around !important;
  }

  &-stretch {
    align-content: stretch !important;
  }
}

.align-self {
  &-auto {
    align-self: auto !important;
  }

  &-start {
    align-self: flex-start !important;
  }

  &-end {
    align-self: flex-end !important;
  }

  &-center {
    align-self: center !important;
  }

  &-baseline {
    align-self: baseline !important;
  }

  &-stretch {
    align-self: stretch !important;
  }
}

.order {
  &-first {
    order: -1 !important;
  }

  &-0 {
    order: 0 !important;
  }

  &-1 {
    order: 1 !important;
  }

  &-2 {
    order: 2 !important;
  }

  &-3 {
    order: 3 !important;
  }

  &-4 {
    order: 4 !important;
  }

  &-5 {
    order: 5 !important;
  }

  &-last {
    order: 6 !important;
  }
}

.my {
  &-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
  }
  &-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  &-1 {
    margin-top: 0.25rem !important;
    margin-bottom: 0.25rem !important;
  }
  &-2 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
  }
  &-3 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }
  &-4 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
  }
  &-5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
  }
  &-10 {
    margin-top:10px !important;
    margin-bottom:10px !important;
  }
  &-20 {
    margin-top:20px !important;
    margin-bottom:20px !important;
  }
  &-30 {
    margin-top:30px !important;
    margin-bottom:30px !important;
  }
  &-40 {
    margin-top:40px !important;
    margin-bottom:40px !important;
  }
  &-50 {
    margin-top:50px !important;
    margin-bottom:50px !important;
  }
}

.mt {
  &-auto {
    margin-top: auto !important;
  }
  &-0 {
    margin-top: 0 !important;
  }
  &-1 {
    margin-top: 0.25rem !important;
  }
  &-2 {
    margin-top: 0.5rem !important;
  }
  &-3 {
    margin-top: 1rem !important;
  }
  &-4 {
    margin-top: 1.5rem !important;
  }
  &-5 {
    margin-top: 3rem !important;
  }
  &-10 {
    margin-top:10px !important;
  }
  &-20 {
    margin-top:20px !important;
  }
  &-30 {
    margin-top:30px !important;
  }
  &-40 {
    margin-top:40px !important;
  }
  &-50 {
    margin-top:50px !important;
  }
}

.mb {
  &-auto {
    margin-bottom: auto !important;
  }
  &-0 {
    margin-bottom: 0 !important;
  }
  &-1 {
    margin-bottom: 0.25rem !important;
  }
  &-2 {
    margin-bottom: 0.5rem !important;
  }
  &-3 {
    margin-bottom: 1rem !important;
  }
  &-4 {
    margin-bottom: 1.5rem !important;
  }
  &-5 {
    margin-bottom: 3rem !important;
  }
  &-10 {
    margin-bottom:10px !important;
  }
  &-20 {
    margin-bottom:20px !important;
  }
  &-30 {
    margin-bottom:30px !important;
  }
  &-40 {
    margin-bottom:40px !important;
  }
  &-50 {
    margin-bottom:50px !important;
  }
}

.p {
  &y-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  &y-1 {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
  }

  &y-2 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }

  &y-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }

  &y-4 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
  }

  &y-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
  &x-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  &x-1 {
    padding-left: 0.25rem !important;
    padding-right: 0.25rem !important;
  }

  &x-2 {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }

  &x-3 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  &x-4 {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }

  &x-5 {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }
}

.pt {
  &-0 {
    padding-top: 0 !important;
  }
  &-1 {
    padding-top: 0.25rem !important;
  }
  &-2 {
    padding-top: 0.5rem !important;
  }
  &-3 {
    padding-top: 1rem !important;
  }
  &-4 {
    padding-top: 1.5rem !important;
  }
  &-5 {
    padding-top: 3rem !important;
  }
  &-10 {
    padding-top:10px !important;
  }
  &-20 {
    padding-top:20px !important;
  }
  &-30 {
    padding-top:30px !important;
  }
  &-40 {
    padding-top:40px !important;
  }
}

.pb {
  &-0 {
    padding-bottom: 0 !important;
  }
  &-1 {
    padding-bottom: 0.25rem !important;
  }
  &-2 {
    padding-bottom: 0.5rem !important;
  }
  &-3 {
    padding-bottom: 1rem !important;
  }
  &-4 {
    padding-bottom: 1.5rem !important;
  }
  &-5 {
    padding-bottom: 3rem !important;
  }
  &-10 {
    padding-bottom:10px !important;
  }
  &-20 {
    padding-bottom:20px !important;
  }
  &-30 {
    padding-bottom:30px !important;
  }
  &-40 {
    padding-bottom:40px !important;
  }
  &-50 {
    padding-bottom:50px !important;
  }
}

.text-center {
  text-align: center !important;
}

.text-decoration-none {
  text-decoration: none !important;
}

.hover {
  &-text {
    &-decoration {
      &-underline {
        &:hover, &:focus {
          text-decoration:underline !important;
        } 
      }
    }

    &-col {
      &-blue {
        &:hover, &:focus {
          color:$blue-1 !important;
        }
        &-2 {
          &:hover, &:focus {
            color:$blue-2 !important;
          }
        }
      }
      &-red {
        &:hover, &:focus {
          color: $red-1 !important;
        }
      }
      &-green {
        &:hover, &:focus {
          color: $green-1 !important;
        }
      }
      &-coral {
        &:hover, &:focus {
          color: $coral !important;
        }
      }
    }
  }
}

.text-decoration-underline {
  text-decoration: underline !important;
}

.text-decoration-line-through {
  text-decoration: line-through !important;
}

.text-lowercase {
  text-transform: lowercase !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.text-wrap {
  white-space: normal !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

.pointer-events-none {
  pointer-events:none !important;
}

.border-radius {
  &-50 {
    border-radius:50%;
  }
}

/* rtl:begin:remove */
.text-break {
  word-wrap: break-word !important;
  word-break: break-word !important;
}

.abs-cover-el {
  @include abs-cover-el;
}

.pabs {
  @include pabs;
}

.fit {
  @include fit;
}

.prel {
  @include prel;
}

.inline_block {
  @include inline_block;
}

.background-contrast-fix {
  @include background-contrast-fix;
}

.z {
  &-1 {
    z-index:1;
  }
  &-2 {
    z-index:2;
  }
  &-3 {
    z-index:3;
  }
  &-4 {
    z-index:4;
  }
  &-9 {
    z-index:9;
  }
  &-99999 {
    z-index:99999;
  }
}

.resp-svg {
  max-width: 100%;
  height: auto;
}

/*
.np {
  @include no-padding;
}


@media screen and (max-width: 880px) {
  .row {
    --skre-gutter-x: 32px !important;
  }
}
*/

.btn-skip {
  @include bs-btn;
  @include button-variant($green-1, $blue-1, $blue-1);
  font-size: $ft-18;
  font-weight: 700;
  font-family: $libre;
  position: absolute;
  z-index: 10000;
  top: 5%;
  left: 75px;
}

.btn {
  &-download {
    @include bs-btn;
    @include btn-download;
  }
}
